{{#if featured-works}}
<!-- Featured Works Section -->
<section id="featured-works" class="container no-padding no-border-bottom carousel_type">
	<!-- Featured Slider -->
	<div class="featured-slider-boxes box-carousel three-items no-pagination t-center">
		{{#each featured-works}}
		<!-- Box -->
		<a href="{{url}}" class="box ex-link">
			<!-- Box Image -->
			<div class="item_image">
				<!-- Image SRC -->
				<img src="{{image}}" alt="{{alt}}" />
			</div>
			<!-- Item Texts -->
			<div class="item_texts">
				<!-- Header -->
				<h2 class="normal antialiased oswald uppercase">
					{{title}}
				</h2>
				<!-- Description --> 
				<p class="light">
					{{descrition}}
				</p>
			</div>
		</a>
		<!-- End Box -->
		{{/each}}
	</div>
	<!-- End Featured Slider -->
</section>
<!-- End Featured Works Alternative Section -->
{{/if}}