{{#if about}}
{{#each about}}
<!-- Features Section -->
<section id="about" class="container">

	<!-- Features Inner -->
	<div class="inner t-center">

		<!-- Header -->
		<h1 class="header header-style-1 dark normal uppercase oswald animated" data-animation="fadeIn" data-animation-delay="200">
			{{title}} <span class="colored">{{title-color}}</span>
		</h1>
		<!-- Header Text -->
		<p class="light animated" data-animation="fadeIn" data-animation-delay="200">
			{{subtitle}}
		</p>

		<!-- Boxes  -->
		<div class="feature-boxes type-3 clearfix">

			{{#if featured}}
			{{#each featured}}
			<!-- Box  -->
			<div class="feature-box col-xs-4 animated" data-animation="fadeIn" data-animation-delay="100">
				<!-- Box Icon  -->
				<div class="f-left feature-icon">
					<i class="{{icon}}"></i>
				</div>
				<!-- Box Texts  -->
				<div class="feature-text small-head f-left t-left dark">
					<!-- Box Header  -->
					<h4 class="no-margin normal no-padding oswald uppercase">
						{{title}}
					</h4>
					<!-- Box Description  -->
					<p>
						{{description}}
					</p>
				</div>
			</div>
			<!-- End Box  -->
			{{/each}}
			{{/if}}
		</div>
		<!-- End Boxes  -->
	</div>
	<!-- End Features Inner  -->
</section>
<!-- End Features Section  -->
{{/each}}
{{/if}}